* {
    padding: 0;
    margin: 0;
}
.menu {
   width: 100%;
   height: 60px;
   background-color: rgb(177, 100, 0);
}
.conteudo {
    width: 100%;
    background-color: rgb(129, 53, 9);
}
.rodape {
    background-color: cadetblue;
    width: 100%;
    text-align: center;
}
.info-cinema {
    width: 100%;
    background-color: rgb(164, 120, 170);
}
.info-filme {
    width: 100%;
    background-color: rgb(65, 60, 49);
}
.info-filme-retro {
    width: 100%;
    background-color: darkgoldenrod;
}
.info-destaque {
    width: 100%;
    background-color: rgb(34, 0, 156);
}
.img-estilo {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .menu {
        height: 120px;
        background-color: rgb(213, 216, 44);
    }
}
.conteudo{
    display: flex;
}

@media screen and (min-width: 1028px) {
    .menu {
        height: 200px;
        background-color: rgb(213, 216, 44);
    }
}
.conteudo{
    display: grid;
}